# Database
SPRING_DATASOURCE_URL=jdbc:postgresql://db_host:5432/db_name
SPRING_DATASOURCE_USERNAME=db_user
SPRING_DATASOURCE_PASSWORD=db_password

# MinIO
MINIO_URL=http://minio_host:9000
MINIO_ACCESS_NAME=minio_user
MINIO_ACCESS_SECRET=minio_password
MINIO_BUCKET_NAME=profile-image